PORT=8000
POSTGRES_USER=YOUR_LOCAL_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=prisma

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://YOUR_LOCAL_POSTGRES_USER:YOUR_PASSWORD@postgres-db:5432/prisma?schema=public&connection_limit=250&pool_timeout=0"